
<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productCart_facturacion.css">
</head>
<body>
    <%- include('../partials/header.ejs')%>

<h3>Medios de Envio</h3>
<select Medios de Envio="select">
  <option Oca="value1">Oca</option>
  <option Andreani="value2" selected>Andreani</option>
  <option Correo Argentino="value3">Correo Argentino</option>
</select>
  

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Formulario de Tarjeta de Crédito Dinámico</title>
	<link href="https://fonts.googleapis.com/css?family=Lato|Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body>
	<p style="font-size: 18px;">SELECCIONA TU MEDIO DE PAGO</P>
	<div class="contenedor">
        <select Medios de pago="select">
            <option Tarjeta de debito="value1">Tarjeta de debito</option>
            <option Tarjeta de credito="value2" selected>Tarjeta de credito</option>
            <option Transferencia bancaria="value3">Transferencia bancaria</option>
            <option Efectivo="value4">Efectivo</option>
            <option RapiPago="value5">RapiPago</option>
            <option PagoFacil="value6">PagoFacil</option>
            <option Deposito="value7">Deposito</option>
          </select>
		<!-- Contenedor Boton Abrir Formulario -->
		<div class="contenedor-btn">
			<button class="btn-abrir-formulario" id="btn-abrir-formulario">
				<i class="fas fa-plus"></i>
			</button>
		</div>
		<!-- Formulario -->
		<form action="" id="formulario-tarjeta" class="formulario-tarjeta">
			<div class="grupo">
				<label for="inputNumero">Número Tarjeta</label>
				<input type="text" id="inputNumero" maxlength="19" autocomplete="off">
			</div>
			<div class="grupo">
				<label for="inputNombre">Nombre</label>
				<input type="text" id="inputNombre" maxlength="19" autocomplete="off">
			</div>
			<div class="flexbox">
				<div class="grupo expira">
					<label for="selectMes">Expiracion</label>
					<div class="flexbox">
						<div class="grupo-select">
							<select name="mes" id="selectMes">
								<option disabled selected>Mes</option>
							</select>
							<i class="fas fa-angle-down"></i>
						</div>
						<div class="grupo-select">
							<select name="year" id="selectYear">
								<option disabled selected>Año</option>
							</select>
							<i class="fas fa-angle-down"></i>
						</div>
					</div>
				</div>

				<div class="grupo ccv">
					<label for="inputCCV">CCV</label>
					<input type="text" id="inputCCV" maxlength="3">
				</div>
			</div>
			<button type="submit" class="btn-enviar">Enviar</button>
		</form>
	</div>
    <%- include('../partials/footer.ejs') %>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="/js/coffecode.js"></script>
</body>
</html>