<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productCart.css">
</head>
<body>
    <header>
        <div class="frase">
            <h4>TU ÉXITO Y TU FELICIDAD DEPENDEN DE TÍ</h4>
        </div>   


    </header>
   
    <main class="cart-panel1">
    
        <form action="/products/checkout" method="get" class="cart-form1">
                     
               <h2>CARRITO</h2>
            <div class="cart-body1">
                    <div class="cart-items1">
                        <div class="cart-item1" >
                            <div class="cart-item-imagen1">
                                <img src="/img/imagen_producto.jpg">                           
                            </div>
                            <div class="cart-item-detalle1">
                                <h5 class="cart-item-name1">
                                    BLEND DE LA CASA
                                </h5>
                            
                        
                                <p class="cart-item-descripcion1">
                                
                                    ELEGÍ TU MOLIENDA: 
                                    En Grano
                                </p>
                                <p>
                                    ELEGÍ EL PESO: 
                                    250 Gr.                             
                                
                                </p>
                            </div>
                            <div class="cart-item-delete1">
                                <button type="button">
                                <i class="fa fa-close"></i>
                                </button>
                            </div>                           
                            
                        </div>
                        <div class="cart-item-subtotal1">
                            <p> 2 × $12,200.00</p>
                        </div>
                    </div>                    
                    <div class="cart-total1">
                        <h2>Subtotal: <span>$128.400,00</span></h2>                        
                    </div>               
                    <div class="botones1">
                        <a href="/products/edit" class="btn-ver1">VER CARRITO</a>               
                        <input type="submit" class="btn-fin1" value="FINALIZAR LA COMPRA" name="fin_compra">                   
                    </div>              
             </div>
        </form>
    </main>
    
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>
