<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/productCart_detalle.css">
    <title>detalle de producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="https://kit.fontawesome.com/138f4028c4.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="frase">
            <h4>TU ÉXITO Y TU FELICIDAD DEPENDEN DE TÍ</h4>
        </div>   
        <div class="container-header">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <img src="/img/logo.svg" alt="logo de Coffeecode" class="logo2" onclick="location.href='/'">
            <div class="iconos">
                <i class="fa fa-search"></i>
                <a href="/login"><i class="fa-regular fa-user"></i></a>
                <i class="fa-solid fa-cart-shopping"></i>                       
            </div>
        </div>

    </header>
   
    <main class="cart-panel">
            <div class="cart-body">
                <form action="/" method="get" class="cart-form borde-derecho">
                    <div class="titulos">        
                        <h5>PRODUCTO</h5>
                        <h5>CANTIDAD</h5>
                    </div> 
                    <div class="cart-body1">
                            <div class="cart-items">
                                <div class="cart-item" >
                                    <div class="cart-item-delete">
                                        <button type="button">
                                        <i class="fa fa-close"></i>
                                        </button>
                                    </div>      
                                    <div class="cart-item-imagen">
                                    <img src="img/imagen_producto.jpg">                           
                                    </div>
                                    <div class="cart-item-detalle">
                                        <h6 class="cart-item-name">
                                            BLEND DE LA CASA
                                        </h6>
                                    
                                
                                        <p class="cart-item-descripcion">                              
                                            ELEGÍ TU MOLIENDA: 
                                            En Grano
                                        </p>
                                        <p class="cart-item-descripcion">
                                            ELEGÍ EL PESO: 
                                            250 Gr.                               
                                        </p>
                                    </div>                                        
                                                                                    
                                        <div class="container-group-1">
                                            <p>-</p>
                                            <input type="text"  value="1" >
                                            <p>+</p>                          
                                    </div>
                                </div>
                                <div class="cart-item-subtotal">     
                                    <p> 2 × $12,200.00</p>
                                </div>   
                            </div>
                            <div class="cart-items">
                                <div class="cart-item" >
                                    <div class="cart-item-delete">
                                        <button type="button">
                                        <i class="fa fa-close"></i>
                                        </button>
                                    </div>      
                                    <div class="cart-item-imagen">
                                    <img src="img/imagen-producto3.jpg">                           
                                    </div>
                                    <div class="cart-item-detalle">
                                        <h6 class="cart-item-name">
                                            BLEND DE LA CASA
                                        </h6>
                                    
                                
                                        <p class="cart-item-descripcion">                              
                                            ELEGÍ TU MOLIENDA: 
                                            Molido Filtro
                                        </p>
                                        <p class="cart-item-descripcion">
                                            ELEGÍ EL PESO: 
                                        1 Kilo.                               
                                        </p>
                                    </div>                                        
                                                                                    
                                        <div class="container-group-1">
                                            <p>-</p>
                                            <input type="text"  value="1" >
                                            <p>+</p>                          
                                    </div>
                                </div>
                                <div class="cart-item-subtotal">     
                                    <p> 2 × $12,200.00</p>
                                </div>   
                            </div>
                            <div class="botones">                    
                                <a href="/" class="btn"><i class="fa fa-arrow-left"></i>  SEGUIR COMPRANDO</a>
                            <a href="/productCart_detalle" class="btn-actualizar">ACTUALIZAR CARRITO </a>                  
                            </div>
                    </div>   
                </form>
                <form action="/productCart_facturacion" method="get" class="cart-form">     
                    <div class="finalizar_compra">
                        
                        <div class="cart-total titulos">
                            <h5>TOTAL DEL CARRITO: </h5>                        
                        </div>
                        <div class="subtotal">
                            <p>Subtotal  </p><span> $128.400,00</span>
                        </div>
                        
                        <label>Envio</label>  
                        <div class="envio">
                            <input type="radio" value="1" name="envio" checked> 
                            <label for="">Envío gratuito a domicilio en compras superiores a $ 40000</label>
                        </div> 
                        <div class="envio">
                            <input type="radio" value="1" name="envio" > 
                            <label for="">Envío a domicilio (todo el país): $6,500.00</label>
                        </div> 
                        <div class="envio">
                            <input type="radio" value="1" name="envio" > 
                            <label for="">Retiro por Local (Gratis)</label>
                        </div> 
                
                        <div class="subtotal">
                            <p>Total  </p><span> $128.400,00</span>
                        </div>
                        <input type="submit" class="btn-fin" value="FINALIZAR LA COMPRA" name="fin_compra">
                    </div>
                </form>    
            </div>    
        </form>
    </main>
    
    <footer>
        <div class="contenedor_footer">
            <div class="cajasFooter">
                <h4>MEDIOS DE PAGO</h4>
                <img class="tamañoImg1" src="img/uala.png" alt="Uala">
                <img class="tamañoImg1" src="img/mercadopago.png" alt="MercadoPago">
                <img class="tamañoImg1" src="img/mastercard.png" alt="MasterCard">
                <img class="tamañoImg1" src="img/visa.png" alt="Visa">
                <img class="tamañoImg1" src="img/maestro.png" alt="Maestro">
                <img class="tamañoImg1" src="img/naranja.png" alt="Naranja">
                <img class="tamañoImg1" src="img/pagofacil.png" alt="PagoFacil">
                <img class="tamañoImg1" src="img/rapipago.png" alt="RapiPago">
                <img class="tamañoImg1" src="img/deposito.png" alt="Deposito">
                <img class="tamañoImg1" src="img/efectivo.png" alt="Efectivo">
            </div>          
            <div class="cajasFooter">
                <h4>MEDIOS DE ENVÍO</h4>
                <img class="tamañoImg1" src="img/andreani.png" alt="Andreani">
                <img class="tamañoImg1" src="img/correo-argentino.png" alt="CorreoArgentino">
                <img class="tamañoImg1" src="img/personalizado.png" alt="Personalizado">
            </div>    
            <div class="cajasFooter">
                <h4>REDES SOCIALES</h4>
                <img class="tamañoImg2" src="img/facebook.png" alt="Facebook">
                <img class="tamañoImg2" src="img/instagram.png" alt="Instagram">
            </div>
            <div class="cajasFooter">
                <h4>CONTACTO</h4>
                <p>3825535033</p>
                <p>coffecode@gmail.com</p>                            
                <p>8 de diciembre, Capital, La Rioja</p>
            </div>
    </footer>
    
</body>
</html>
