<%- include('../partials/head.ejs') %>    
   <link rel="stylesheet" href="/css/productCart_detalle.css">
</head>
<body>
    <%- include('../partials/header.ejs',{carrito})%>








</body>



    <%- include('../partials/footer.ejs') %>
    <script src="/js/coffecode.js"></script>