body {
    font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.texto-team{
    width: 95%;
    margin: 20px auto;
    padding: 20px 0px 20px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    
}

.container {
    width: 95%;
    margin: 20px auto;
    padding: 0% auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: right;
    flex-direction: column;
}

h1 {
    color: #823a6f;
    text-align: center;
}

h2 {
    color: #823a6f;
}

.justified-text {
    text-align: justify; 
    text-indent: 30px;
    padding-right: 40px;
    padding-left: 30px;
}

.team-member {
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 20px;
    
}

.team-member img {
    border-radius: 50%;
    border: 3px solid #823a6f;
    display: flex;    
    justify-content: center;
    margin-right: 20px;
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.team-member h2 {
    margin: 0 0 10px;
}

.team-member p {
    margin: 5px 0;
}

.team-section{
    display: flex;
    flex-direction: column;
}

.container .imagen-team{
    margin: auto;
    object-fit: cover;
}

@media (min-width: 600px){
    .container{
        display: flex;
        flex-wrap: wrap;
    }
}
