body {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.texto-team {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    width: 95%;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #823a6f;
    text-align: center;
}

h2 {
    color: #823a6f;
}

.justified-text {
    text-align: justify;
    text-indent: 30px;
    padding: 0 20px;
}

.team-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 20px;
}


.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.team-member:hover{
    box-shadow: 0 0 15px rgba(130, 58, 111, 0.5);
}

.team-member img {
    border-radius: 50%;
    border: 3px solid #823a6f;
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.team-member h2 {
    margin: 10px 0 5px;
}

.team-member p {
    margin: 0;
}

.imagen-team {
    margin-top: 20px;
    width: 100%;
}

.imagen-team img {
    border: 2px solid #000;
    width: 100%;
    height: auto;
}

/* Media Query para pantallas más grandes */
@media (min-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .team-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .imagen-team {
        width: 95%;
        margin-left: 20px;
        

    }
}

@media (min-width: 1024px) {
    .team-section {
        grid-template-columns: repeat(5, 1fr);
    }

    .justified-text {
        max-width: 80%;
        margin: auto;
    }
}

@media (min-width: 1438px) {
    .imagen-team {
        width: 57%;
        margin: 0 auto;
        

    }
}