/*MAIN*/

.contenedor-principal {
    font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
    width: 100%;
    margin: 0 auto;
    background-color: #a99ac4;
    
}


.slider img {
    width: 100%;
    height: auto;
}

.articulo {
    display: flex;
    align-items: center;
    padding: 20px;

    width: 100%;
}

.articulo article {
    display: flex;
   
}

.texto-articulo {
    width: auto;
    h2{
        width: 75%;
        font-family: "Zain", sans-serif;
        font-weight: 800;
        font-style: normal;
        text-align: center;
        
        padding-bottom: 25px;
        padding-top:40px;
        padding-left: 30px;
        font-size: 40px;
        
    }
}

.descripcion{
    font-size: 1.4rem;
    width: auto;
}

.imagen-articulo img {
    width: 500px; /* Ancho de la imagen */
    margin-top: 60px;
    border-radius: 3%;
    border: 2px solid #000;
}

.contenedor-productos {
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: white;
    padding-top: 20px;
}

.producto {
    width: 300px; /* Ajusta el ancho de cada producto */
    margin: auto;
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #f3f3f3;
    transition: all 0.3s;
}

.producto:hover{
    box-shadow: 1px 1px 1px gray;
}

.producto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}


.producto h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;   
}

.producto p {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.producto button {
    background-color: #823a6f;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px;
    opacity: 0.8;
    transition: box-shadow 0.3s;
}

.producto button:hover {
    opacity: 1;
    background-color: #823a6f;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.lista-articulo{
    width: auto;
    padding-left: 60px;
    padding-top: 20px;
    font-size: 1.2rem;
}


@media (max-width: 382px){
    .articulo{
        article{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .lista-articulo{
            width: auto;
            padding-left: 100px;
        }
        .imagen-articulo img{
            display: flex;
            width: auto;
            margin: auto;
            
        }

    }
}
@media (max-width: 768px){
    .articulo{
        article{
            display: flex;
            flex-direction: column;
        }
        .lista-articulo{
            width: auto;
            padding-left: 100px;
        }
        .imagen-articulo img{
            width: 60%;
            display: flex;
            align-self: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }

    }
}

.error404 {
    background-size: cover;
    width: 100%;   
}
.volver {
    text-align: center;
    position: absolute;
    left: 20px;
    top: 20px;
   
}
.volver a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}