/*MAIN*/
*{
    margin: 0 auto;
    padding: 0;
}
.contenedor-principal {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    max-width: 100vw;
    margin: 0;
    padding: 0;   
    background-image: url('../img/fondo_lila.png');
    background-size: cover; 
    background-position: center; 
     
}
body, .contenedor-principal {
    overflow-x: hidden;
}

.slider{
   color: white;
}

.slider img {
    width: 100%;
    height: auto;
}
/* Cambia el color de los puntos a blanco */
.contenedor-principal .slick-dots li button:before {
    color: white !important;
    opacity: 0.75; /* Ajusta la opacidad para un blanco más sutil */
}

/* Cambia el color del punto activo a blanco completo */
.contenedor-principal .slick-dots li.slick-active button:before {
    color: white !important;
    opacity: 1; /* Punto activo en blanco completo */
}

/* Si los puntos aún no cambian, forzamos con la clase completa */
.contenedor-principal .slick-dots {
    color: white !important;
}

.articulo {
    display: flex;
    
    width: 100%;
    padding: 0.5rem 1rem;   /*bordes internos, da mas separacion del texto*/
    padding-bottom: 1rem;
}

.articulo article {
    display: flex;
    width: 100%; 
}

.texto-articulo {
    color: white;
    width: auto;
    padding-top: 10px;
    
    text-align: left; /* Alinear texto a la izquierda */
}

.texto-articulo h2 {
    color: #efb146;
    font-size: 24px;
    font-family: "Zain", sans-serif;
    font-weight: 800;
    font-style: normal;
    padding: auto;
    word-wrap: break-word;
    overflow: hidden;

}

.descripcion {
    font-size: 20px;
    width: 700px;
    text-indent: 30px;
    line-height: 0.8;
    text-align: justify;
}
 
.lista-articulo{
    font-size: 8px;
    line-height: 0.9;
    font-weight: 300px;
    text-align: justify;
    
}

.contenedor_boton {
    margin-top: 20px;
    padding-bottom: 30px;
    align-items: center;
}

.video_cafe {
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: #efb146;
    color: white;
    border-radius: 100px;
    border: none;
    cursor: pointer; 
}

.video_cafe:hover{
    background-color: #a99ac4;
    color: white;
}

.video-articulo {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden; 
}
iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.lista-articulo li{
    padding-bottom: 5px;
}



.contenedor-productos {
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-image: url('../img/fondo_login.png');
    background-size: cover; 
    background-position: center; 
    padding-top: 20px;
}

.producto {
    width: 300px; /* Ajusta el ancho de cada producto */
    margin: auto;
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #f3f3f3;
    transition: border, tranform 0.3s ease;
}

.producto:hover{
    /*box-shadow: 1px 1px 1px gray;*/
    border:1px solid #a7a5a5;
    img{
        transform: scale(1.1);
    }
}
.iconos {
    position: absolute;
    bottom: 10px;  
    right: 10px;   
    display: flex;
    gap: 10px;     
    z-index: 10;   
}

.producto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    transition: 0.5s;
    object-fit: cover;
}



.producto h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;   
}

.producto p {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.producto button {
    background-color: #823a6f;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px;
    opacity: 0.8;
    transition: box-shadow 0.3s;
}

.producto button:hover {
    opacity: 1;
    background-color: #823a6f;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.lista-articulo{
    
    padding-left: 3rem;
    padding-top: 10px;
    font-size: 20px;
}



li{
    font-weight: bold;
    padding-right: 5px;
}



@media (min-width: 318px){
    .articulo{
        article{
            display: flex;
            flex-direction: column;
            width: 100%;    
            
        }
        .lista-articulo{
            width: auto;
            
        }
        .imagen-articulo img{
            display: flex;
            width: auto;
            margin: auto;
            
        }

    }
    .texto-articulo h2{
        text-align: center;
        font-size: 22px;
    }
    .video-articulo {
        margin-left: 0px;
    }
    .descripcion{
        width: 90vw; /*90% de la vista*/
    }
    .header-content {
        padding: 0px;
    }
    .contenedor_boton{
        width: 88vw;
        margin: 0px;
        text-align: center;
        padding: 1.5rem 1rem;
    }
}

@media (min-width: 375px){
    .articulo{
        article{
            display: flex;
            flex-direction: column;
            width: 100%;    
        }
        .lista-articulo{
            width: auto;
            
        }
        .imagen-articulo img{
            display: flex;
            width: auto;
            margin: auto;
            
        }

    }
    .texto-articulo h2{
        text-align: center;
    }
    .descripcion{
        width: 90vw; 
    }
    .video-articulo{
        width: 91vw;
    }
}


@media (min-width: 765px){
    .header-content{
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .articulo{
        padding: 0px;
        padding-right: 2rem;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
        article{
            display: flex;
            flex-direction: column;
        }
        .lista-articulo{
            width: auto;
            
        }
        .imagen-articulo img{
            width: 60%;
            display: flex;
            align-self: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }

    }
    .texto-articulo h2{
        text-align: center;
        font-size: 32px;
    }
    .descripcion{
        width: 92vw;
    }
    .video-articulo{
        width: 100%;
        padding-bottom: 20%;
        
    }
    .contenedor_boton{
        width: 88vw;
        margin: 0px;
        text-align: center;
        padding: 1.5rem 1rem;
    }

}

@media (min-width: 1438px){
    
    .articulo article{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 20px;
    }
    .logo{
        margin-bottom: 1rem;
    }
    .articulo_izquierdo{
        width: 50%;
        padding-left: 1.5rem;
        .descripcion{
            width: 100%;
        }
        .contenedor_boton{
            width: 100%;
        }
    }
    .articulo_derecho{
        width: 50%;
        iframe{
            height: 95%;
        }
    }
}