/*MAIN*/

.contenedor-principal {
    font-family: "Roboto",sans-serif;
    width: 100%;
    margin: 0 auto;
    background-color: #a99ac4;
}

.banner img {
    width: 100%;
    height: auto;
    
    
}

.articulo {
    display: flex;
    align-items: center;
    padding: 70px;
    width: 100%;
}

.articulo article {
    display: flex;
   
}

.texto-articulo {
    h2{
        text-align: center;
        
        padding-bottom: 20px;
        font-size: 30px;
    }
}

.imagen-articulo img {
    width: 200px; /* Ancho de la imagen */
    height: auto;
    padding-top: 40px;
}

.contenedor-productos {
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: white;
    padding-top: 20px;
}

.producto {
    width: 300px; /* Ajusta el ancho de cada producto */
    margin: auto;
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #f3f3f3;
    transition: all 0.3s;
}

.producto:hover{
    box-shadow: 1px 1px 1px gray;
}

.producto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}


.producto h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;   
}

.producto p {
    margin-bottom: 10px;
}

.producto button {
    background-color: #823a6f;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px;
    opacity: 0.8;
    transition: box-shadow 0.3s;
}

.producto button:hover {
    opacity: 1;
    background-color: #823a6f;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.lista-articulo{
    padding-left: 100px;
    padding-top: 20px;
}


@media (max-width: 382px){
    .articulo{
        article{
            display: flex;
            flex-direction: column;
        }
        .lista-articulo{
            margin-left: -70px;
        }
        .imagen-articulo img{
            width: 200px;
            display: flex;
            padding-top: 0px;
            position: relative;
            right: -40px;
            top: -40px;
        }

    }
}
@media (max-width: 768px){
    .articulo{
        article{
            display: flex;
            
        }
        .lista-articulo{
            margin-left: -70px;
        }
        .imagen-articulo img{
            width: 140px;
            display: flex;
            padding-top: 60px;
        }

    }
}