main{
    
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;

.navbar{
    padding: 2px 4px;
    list-style: none;
    
}
.navbar-item1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.navbar-item{
    display:inline;
    font-size: 15px;
    color: black;
}

.navbar li+li:before{
    padding: 4px;
    color: black;
    content: ">";
}

.navbar-item a{
    color: #291025;
    text-decoration: none;
}

.navbar-item a:hover{
    color:  #823a6f;
}
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #a99ac4;
    h2{
        text-align: center;
        padding-bottom: 10px;
        color: #291025;
        font-family: "Zain", sans-serif;
        font-weight: bold;
    }
    .estilo-form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .boton{
        width: 200px;
        height: 50px;
        border-radius: 25px;
        margin: auto;
        background-color: #823a6f;
        opacity: 0.8;
        color: white;
        font-weight: bold;
        font-size: 15px;
        padding: 5px;
        border: none;
        cursor: pointer;
    }
    .boton:hover{
        opacity: 1;
        background-color: #823a6f;
    }
    .boton2{
        width: 30%;
        margin: auto;
        background-color: #823a6f;
        opacity: 0.8;
        color: white;
        padding: 5px;
        border: none;
        cursor: pointer;
    }
    .buton2:hover{
        opacity: 1;
        background-color: #823a6f;
    }
    
    .estilo-label{
        font-family: Helvetica;
    }

    .bloque{
        padding-top: 5px;
        font-weight: bold;
    }
    
    .bloque > input{
        width: 200px;
        padding: 5px;
    }
    p{
        text-align: center;
        padding: 20px;
        font-weight: bold;
        a{
            font-weight: bold;
            color: #823a6f;
            padding-left: 5px;
        }
        
    }

    a{
        color:white;
    }

    a:hover{
        color: #823a6f;
    }

    .g-sign-in-button {
        position: relative;
        top: 50%;
        left: 48%;
        transform: translate(-50%, -50%);
        margin: 10px;
        display: inline-block;
        width: 240px;
        height: 50px;
        background-color: #4285f4;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(90, 77, 77, 0.25);
        transition: background-color .218s, border-color .218s, box-shadow .218s;
      }
      
      .g-sign-in-button:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
        box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
      }
      
      .g-sign-in-button:active {
        background-color: #3367D6;
        transition: background-color .2s;
      }
      
      .g-sign-in-button .content-wrapper {
        height: 100%;
        width: 100%;
        border: 1px solid transparent;
      }
      
      .g-sign-in-button img {
        width: 20px;
        height: 20px;
      }
      
      .g-sign-in-button .logo-wrapper {
        padding: 15px;
        background: #fff;
        width: 45px;
        height: 100%;
        border-radius: 5px;
        display: inline-block;
      }
      
      .g-sign-in-button .text-container {
        font-family: "Zain", arial, sans-serif;
        font-weight: 500;
        letter-spacing: .21px;
        font-size: 16px;
        line-height: 48px;
        vertical-align: top;
        border: none;
        display: inline-block;
        text-align: center;
        width: 180px;
      }
}




@media (min-width: 361px){
    main{
        .bloque > input{
            width: 400px;
            padding: 5px;
        }
    }
}

@media (min-width: 769px){

}