main{
    
        font-family: Helvetica;
    

.navbar{
    padding: 2px 4px;
    list-style: none;
    
}
.navbar-item1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.navbar-item{
    display:inline;
    font-size: 15px;
    color: black;
}

.navbar li+li:before{
    padding: 4px;
    color: black;
    content: ">";
}

.navbar-item a{
    color: #291025;
    text-decoration: none;
}

.navbar-item a:hover{
    color:  #823a6f;
}
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #a99ac4;
    h2{
        text-align: center;
        padding-bottom: 10px;
        color: #291025;
        font-family: Helvetica;
        font-weight: bold;
    }
    .estilo-form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .boton{
        width: 200px;
        height: 50px;
        border-radius: 25px;
        margin: auto;
        background-color: #823a6f;
        opacity: 0.8;
        color: white;
        font-weight: bold;
        font-size: 15px;
        padding: 5px;
        border: none;
        cursor: pointer;
    }
    .boton:hover{
        opacity: 1;
        background-color: #823a6f;
    }
    .boton2{
        width: 30%;
        margin: auto;
        background-color: #823a6f;
        opacity: 0.8;
        color: white;
        padding: 5px;
        border: none;
        cursor: pointer;
    }
    .buton2:hover{
        opacity: 1;
        background-color: #823a6f;
    }
    
    .estilo-label{
        font-family: Helvetica;
    }

    .bloque{
        padding-top: 5px;
        font-weight: bold;
    }
    
    .bloque > input{
        width: 200px;
        padding: 5px;
    }
    p{
        text-align: center;
        padding: 20px;
        font-weight: bold;
        a{
            font-weight: bold;
            color: #823a6f;
            padding-left: 5px;
        }
        
    }

    a{
        color:white;
    }

    a:hover{
        color: #823a6f;
    }
}




@media (min-width: 361px){
    main{
        .bloque > input{
            width: 400px;
            padding: 5px;
        }
    }
}

@media (min-width: 769px){

}