*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
    font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

/*
header{
    width: 100%;
    height: 40px;

    .container-header{
        display: flex;
        justify-content: space-around;
        
    }

    .burger-menu {
        color: #823a6f;
        margin-bottom: 5px;
        font-size: 2em;
    }
    
    
    .logo2{
        width: 55px;
        margin-top: -14px;
    }
    
    .iconos{
        padding-top: 14px;
    }
    
    .iconos > i{
        color: #823a6f;; 
        font-size: 1.5em;
    }
    

}
*/


main{
    background-color: #a99ac4;

    .producto1 > img{
        width: 100%;
        
    }
    .botones-admin{
        a{
       color: #000;
       text-decoration: none;
       padding: 5px;
       border-radius: 2rem;
       font-size: small;
        }
        a:hover{
            color: white;
            border: 1px solid #000;
            box-shadow: 1px solid rgb(0,0,0);
            background-color: #823a6f;
        }
        position: relative;
        top: 35px;
        padding: 5px;
        text-align: center;
    }
    
    .navbar2{
        padding: 2px 4px;
        list-style: none;
        
    }
    
    .navbar2-item{
        display:inline;
        font-size: 1.2rem;
        color: black;
    }
    
    .navbar2 li+li:before{
        padding: 4px;
        color: black;
        content: ">";
    }
    
    .navbar2-item a{
        color: #291025;
        text-decoration: none;
    }
    
    .navbar2-item a:hover{
        color:  #823a6f;
    }

    h3{
        padding-top: 2px;
        padding-left: 20px;
        padding-bottom: 2px;
    }

    .acordeon{
        background-color: #a99ac4;
        color: black;
        cursor: pointer;
        padding: 16px;
        width: 90%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 1.rem;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);;
        i{
            position: sticky;
            color: #291025;
            margin-left: 20px;
        }
    }
    .active, .acordeon:hover{
        background-color: #a99ac4;
    }
    .panel{
        padding: 20px 20px;
        font-size: 1rem;
        display: none;
        overflow: hidden;
        p{
            color: aliceblue;
        }
    }
    h5{
        padding-left: 20px;
        padding-top: 10px;
        padding-right: 20px;
    }
    .texto{
        padding-left: 20px;
        font-size: 1.2rem;
    }
    .parrafo1{
        color: aliceblue;
        padding-top: 5px;
        opacity: 0.9;
        padding-left: 20px;
    }
    h4{
        font-weight: bold;
        padding: 15px;
        margin-bottom: 0px;;
    }
    label{
        span{
            padding:20px

        }
    select{
        margin-left: 40px;
        width: 60%;
        padding:5px;
        border: 1px solid #000;
        background-color: #a99ac4;
        border-radius: 10%;
        cursor: pointer;   
    }
    .botones{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        button{
            border: 1px solid #000;
            background-color:  white;
            font-family: Helvetica;
            font-size: 15px;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 10%;
            transition: all 0.2s;
        }
        button:hover{
            color: white;
            background-color: #823a6f;
        }
       
    }
    .borrar{
        border: 1px solid #000;
        background-color:  #a99ac4;
        font-size: 10px;
        cursor: pointer;
        padding: 15px;
        font-size: 12px;
        border: none;
        color:#291025;
        opacity: 0.5;
        padding: 1px;
    }
    .counter-group{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 20px;
    }
    .container-group-1{
        display: flex;
        border: solid 1px #000;
        width: 30%;
        border-radius: 10%;
        justify-content: center;
    }
    .counter-group .di{
        background-color: #a99ac4;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
    }
        .counter-group input {
            display: inline-block;
            text-align: center;
            width: 50%;
            border: none;
            background-color: #a99ac4;
            padding: 5px;
        }
        .counter-group input:hover{
            border-color: #a99ac4;
        }
    .counter-group > .carrito{
        width: 50%;
        color: #a99ac4;
        border: 1px solid #000;
        background-color:  #823a6f;
        opacity: 0.8;
        font-size: 1.4rem;
        cursor: pointer;
        padding: 15px 30px;
        border-radius: 10%;
        text-decoration: none;
        text-align: center;
        transition: all 0.2s;
        
    }
    .carrito:hover, .carrito:focus{
        color: white;
        opacity: 1;
        background-color: #823a6f;
    }
    }
    .descripcion2{
        background-color: white;
        padding: 20px 0px 20px 0px;
        

        //*h3{
            color: #823a6f;
            text-align: center;
            padding-top: 10px;
            margin-left: -20px ;
        }
       
        i{
            font-size: 3em;
            color: #823a6f;
                     
        }

        h4{
            text-align: center;
            color: #823a6f;
        }*/
        
        
    }
    .imagen-producto2{
        width: 100%;
        margin-top: -30px;
        margin-bottom: -30px;    
    }
    .descripcion3{
        background-color: #a99ac4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
        .descripcion-bar{
            
            border: solid 1px #823a6f;
            width: 80%;
            margin: auto;
            margin-bottom: 30px;
            list-style-type: none;
            
            .descripcion-bar-item{
                border: solid 1px #823a6f;
                opacity: 0.8;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 20px;
                font-size: 15px;
                font-weight: bold;
                p{
                    font-weight: bold;
                    display: flex;
                    justify-content: flex-end;
                   margin-top: -20px;
                   padding-right: 10px;
                }

                .titulodet{
                    text-align: center;
                }
            }
        }
    }

    .titulodet{
        text-align: center;
    }
    .gusto{
        font-size: 1.4rem;
        text-align: center;
        background-color: white;
        width: 100%;
    }
    .otros-productos{
        background-color: white;
        padding-bottom: 20px;
        width: 100%;
        
     
        img{
            display: block;
            width: 75%;
            align-items: center;
            margin: auto;
            padding: 10px;
        }
        .caja-articulo{
            border-top: 1px solid #ebebeb;
            border-spacing: 15px;
            transition: all 0.5;
            .descripcion-imagen{visibility: hidden;}
            button{
                visibility: hidden;
                display: block;
                margin: auto;
                color: white;
                font-family: "Zain", sans-serif;
  font-weight: 800;
  font-style: normal;
                font-weight: bold;
                font-size: 1.2rem;
                cursor: pointer;
                padding: 5px 15px;
                background-color:  #823a6f;
                opacity: 0.8;
                position: relative;
                top:-130px;
                border-radius: 2rem;

                
            }
            button:hover{
                background-color: #823a6f;
                box-shadow: 3px 3px 5px rgb(0, 0, 0);
            }
        }
        .caja-articulo:hover{
            .descripcion-imagen{
                font-size: 1.2rem;
                text-align: center;
                color: gray;
                visibility: visible;
            }
            button{
                visibility: visible;
            }
            box-shadow: 0px 0px 3px rgb(100, 100, 100);
        }
    }
}

@media (min-width: 361px){
    main{
        .caja-producto{
            width: 100%;
            display: flex;
            .producto1{
                width: 40%;
                .navbar2{
                    position: sticky;
                    size-adjust: auto;
                }
            }
            .descripcion-producto{
                width: 60%;
                padding-top: 5px;
                .parrafo1{
                    display: flex;
                }
            }
            .descripcion-producto button{
                margin-left: 1rem;
            }
            .acordeon{
                width: 60%;
            }
            .acordeon i{
                margin-left: 20px;
            }
        }
        .descripcion2{
            width: 100%;
            display: flex;
            .sabor{
                width: 50%;
            }
            .imagen-producto2{
                width: 100%;
                margin: auto;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-top: -30px;
                margin-bottom: -30px;
            }
        }
        .otros-productos{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }

}

@media (min-width: 769px){
    main{
        .caja-producto .producto1 .navbar2{
            position: sticky;
        }
        .caja-producto{
            .producto1{
                width: 100%;
            }
            .descripcion-producto{
                width: 100%;
            padding-top: 30px;
            padding-bottom: 20px;
            
        }
        .acordeon i{
            top:  -2px;
            left: 80px;
            position: sticky;
        }
        
           }
        .otros-productos{
            width: 100%;
            display: flex;
            justify-content: space-around;
            .caja-articulo img{
                width: 70%;
            }
        }
        .descripcion3{
            width: 60%;
            margin: auto;
        }
    }
    
}