/*---- para style.css-----
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body{
   font-family: "Roboto", sans-serif;
}
header{
   width: 90vw;
   height: 40%;  
   background-color:  #f3f3f3;   
   margin: 0 auto;

}
header .frase {
   background-color: #823a6f;
   width: 100%;
   font-size: small;
   height: 33px;
   padding-top: 0px;
}

footer {
width: 90vw;
margin: 0 auto;
}
 --------------*/
 
.carrito-panel1 {

   height: 100%;
   width: 100%;
   max-width: 90vw;
   background: #a99ac4;
   padding-top: 30px;
  

}

.carrito-panel1 h2 {
   text-align: center;
}
  
.carrito-body1 {
   padding: 1em; 
   margin: 0 auto;
}
.carrito-items1 {
   margin-bottom: 1em;  
}
.carrito-item1 {
   display: flex;
   align-items: center;
   margin-bottom: 1em;    
   padding-bottom: 1em;
}
.carrito-item-imagen1 {
   flex: 0 0 60px;
}
.carrito-item-imagen1 img {
   width: 75%;
}
.carrito-item-detalle1 {  
   padding-left: 1em;
   padding-right: 1em;
}
.carrito-item-name1 {
   margin-bottom: 0.5em;
   font-size: 20px;
}

.carrito-item-subtotal1 {
   padding-bottom: 10px;  
   border-bottom: 1px solid #ddd;
}
.carrito-item-subtotal1 p {
text-align: center;
   font-size: 18px;
   font-weight: bold;
}
.carrito-item-delete1 {
   flex: 0 0 30px;
   text-align: right;   
   width: 10px; 
   height: 110px;
   position: relative;

} 
.carrito-item-delete1 button{
   width: 30px;
   height: 30px;
   border-radius: 100%;
   font-size: 15px;
   position: absolute;
   top: 7px;
   left: 0px;
}

.carrito-total1  {
   text-align: center;
   border-bottom: 1px solid #ddd;
   padding-bottom: 10px;
}
   
.carrito-botones1 {
   color: #fff;  
   margin-top: 15px;
   width: 275px;
   height: 100px;
   padding: 5px;
   margin-left: 9px;
}
.carrito-btn-ver1, .carrito-btn-fin1 {  
   border-radius: 5px;
     
}
a.carrito-btn-ver1 {   
   text-decoration: none;      
   padding-left: 60px;
   padding-right: 60px;
   padding-top: 8px;
   padding-bottom: 6px;
   font-size: 10px;
   background-color: #823A6F;
   color: white;

}
.carrito-btn-fin1 {
   background: #823A6F;
   color: #fff;
   cursor: pointer;
   border: none;
   height: 30px;
   padding: 5px;
   margin-top: 25px;
   font-size: 10px;
   width: 70%;
}
 
@media (min-width: 361px){
   .carrito-panel1{  
     
      min-width: 30vw;
      width: 30%;     
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
   }
   .carrito-items1, .cart-item1 {
      width: 100%;
   }
   .carrito-item-imagen1 {
      width: 20%;
   }
   .carrito-item-detalle1 {
      width: 60%;
   }
   .carrito-item-delete1 {
      width: 10%;
   }
   .carrito-botones1 {
      display: flex;
      justify-content: center;    
      flex-wrap: wrap;     
      margin-left: 39px;
   }
}