body {
    font-family: "Zain", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.2rem;
    background-color: #f4f4f4;
}
main{
    background-color: #a99ac4;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background: #a99ac4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid 1px #000;
}
h1 {
    text-align: center;
    padding: 20px;
    
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input, .form-group textarea, .form-group select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.form-group textarea {
    resize: vertical;
}
.form-group input[type="file"] {
    border: none;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #823a6f;
    opacity: 0.8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    align-items: center;

}
.btn:hover {
    opacity: 1;
    background-color: #823a6f;
}