header{
    .login1{
        visibility: hidden;
    }
}
main{
    padding: 20px;
    padding-bottom: 20px;
    background-color: #a99ac4;
    h2{
        text-align: center;
        padding-bottom: 10px;
        color: #291025;
    }
    .estilo-form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .boton{
        width: 30%;
        margin: auto;
        background-color: #823a6f;
        opacity: 0.8;
        color: white;
        padding: 5px;
        border: none;
        cursor: pointer;
    }
    .boton:hover{
        opacity: 1;
        background-color: #823a6f;
    }
    .boton2{
        width: 30%;
        margin: auto;
        background-color: #823a6f;
        color: white;
        padding: 5px;
        border: none;
        cursor: pointer;
    }
    .buton2:hover{
        background-color: #291025;
    }
    
    .bloque{
        padding-top: 5px;
        font-weight: bold;
    }
    
    .bloque > input{
        width: 200px;
        padding: 5px;
    }
    p{
        text-align: center;
        padding-top: 20px;
        a{
            font-weight: bold;
            
            padding-left: 5px;
        }
        a:hover{
            color: #291025;
        }
    }
}


@media (min-width: 361px){
    main{
        .bloque > input{
            width: 400px;
            padding: 5px;
        }
    }
}

@media (min-width: 769px){

}