header{
    .login1{
        visibility: hidden;
    }
}
main{
    padding: 20px;
    padding-bottom: 20px;
    background-color: #a99ac4;
    font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
    h2{
        text-align: center;
        padding-bottom: 10px;
        color: #291025;
    }
    .estilo-form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .boton{
        width: 200px;
        height: 50px;
        border-radius: 25px;
        margin: auto;
        background-color: #823a6f;
        opacity: 0.8;
        color: white;
        font-weight: bold;
        font-size: 15px;
        padding: 5px;
        border: none;
        cursor: pointer;
        margin-top: 20px;
    }
    .boton:hover{
        opacity: 1;
        background-color: #823a6f;
    }
    .boton2{
        width: 30%;
        margin: auto;
        background-color: #823a6f;
        color: white;
        padding: 5px;
        border: none;
        cursor: pointer;
    }
    .buton2:hover{
        background-color: #291025;
    }
    
    .bloque{
        padding-top: 5px;
        font-weight: bold;
    }
    
    .bloque > input{
        width: 200px;
        padding: 5px;
    }

    .bloque{
        padding-top: 5px;
        font-weight: bold;
        position: relative;
    }
    .password {
        width: 100%; 
        padding-right: 60px; 
        box-sizing: border-box;
    }
    #pass-ojo-abierto, #pass-ojo-cerrado, #pass-icon-delete {
        position: absolute;
         cursor: pointer;
         padding: 5px;
         right: 30px;
     }
     #pass-icon-delete {
         right: 10px;
     }
     #pass-ojo-abierto1, #pass-ojo-cerrado1 {
        position: absolute;
        cursor: pointer;
        padding: 5px;
        right: 30px;
    }
     
    p{
        text-align: center;
        padding-top: 20px;
        font-weight: bold;
        a{
            font-weight: bold;
            
            padding-left: 5px;
        }

    }
    a{
        color:white;
    }

    a:hover{
        color: #823a6f;
    }
}


@media (min-width: 361px){
    main{
        .bloque > input{
            width: 400px;
            padding: 5px;
        }
    }
}

@media (min-width: 769px){

}