header{
    .login1{
        visibility: hidden;
    }
}
main{
    padding: 20px;
    padding-bottom: 20px;
    background-image: url('../img/fondo_formulario2.png');
    background-size: cover; /* para que la imagen ocupe todo el fondo */
    background-position: center; /* para centrar la imagen */
    min-height: 90vh;
    font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  margin: 0 auto;
  width: 100%;
    h2{
        text-align: right;
        padding-bottom: 10px;
        color: white;
    }
    .estilo-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boton{
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background-color: #efb145;
        color: white;
        font-weight: bold;
        font-size: 15px;
        padding: 5px;
        border: none;
        cursor: pointer;
        margin-top: 20px;
    }
    .boton:hover{
        opacity: 1;
        color: #efb145;
        background-color: #fff;
    }
    .boton2{
        width: 30%;
        margin: auto;
        background-color: #efb145;
        color: white;
        padding: 5px;
        border: none;
        cursor: pointer;
    }
    .buton2:hover{
        background-color: #a99ac4;
    }
    
    .bloque{
        position: relative;
        padding-top: 5px;
        font-weight: bold;
    }
    
    .bloque > input{
        width: 250px;
        border-radius: 6px;
            font-size: 14px;
            padding: 0px 15px;
            height: 40px;
            border: 2px solid #000;
            color: #000;
            outline: none;
            transition: all 0.3s;
    }
    .bloque > input:focus{
        border: 2px solid #823a6f;
    }

    
    .password {
        width: 100%; 
        padding-right: 70px; 
        box-sizing: border-box;
    }
    #pass-ojo-abierto, #pass-ojo-cerrado, #pass-icon-delete {
        position: absolute;
         cursor: pointer;
         color:#823a6f;
         padding: 10px ;
         right: 40px;
         
        transition: color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
     }
     #pass-icon-delete {
         right: 15px;
     }
     #pass-ojo-abierto1, #pass-ojo-cerrado1 {
        position: absolute;
        cursor: pointer;
        color:#823a6f;
        padding: 10px;
        right: 40px;
    }
    
    #pass-ojo-abierto:hover, #pass-ojo-cerrado:hover, #pass-icon-delete:hover, #pass-ojo-abierto1:hover, #pass-ojo-cerrado1:hover{
        color: #efb145;
        transform: scale(1.2);
    }
        
        
    input{
        font: inherit;
    }
     
    p{
        text-align: left;
        padding-top: 20px;
        font-weight: bold;
        color: white;
       
        a{
            font-weight: bold;
            
            padding-left: 5px;
        }

    }
    a{
        color:white;
    }

    a:hover{
        color: #efb145;
    }
}

.estilo-label{
    color:white;
}

.just-validate-error-label{
    color: #efb145 !important;
}    


@media (min-width: 361px){
    main{
        .password {
            padding-right: 90px; 
        }
        .bloque > input{
            width: 250px;
            border-radius: 6px;
            font-size: 14px;
            padding: 0px 15px;
            height: 40px;
            border: 2px solid #000;
            color: #000;
            outline: none;
            transition: all 0.3s;
        }
        .bloque > input:focus{
            border: 2px solid #823a6f;
        }

        #pass-ojo-abierto, #pass-ojo-cerrado, #pass-icon-delete, #pass-ojo-abierto1, #pass-ojo-cerrado1 {
            right: 45px;
        }
        #pass-icon-delete {
            right: 20px;
        }
    }
}

@media (min-width: 769px){
    main{
        .estilo-form{
            padding-right: 100px;
            align-items: flex-end;
        }
        .bloque > input{
            width: 400px;
        }
        .password {
            padding-right: 130px;
        }
        #pass-ojo-abierto, #pass-ojo-cerrado, #pass-icon-delete, #pass-ojo-abierto1, #pass-ojo-cerrado1 {
            right: 50px;
        }
        #pass-icon-delete {
            right: 25px;
        }
    }
}