<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
    <title>COFFECODE</title>
</head>
<body>
    <div class="frase">
        <h5>"TU ÉXITO Y TU FELICIDAD DEPENDEN DE TÍ</h5>
    </div>
    <header>
        <div class="header-content">
            <div>
                <img src="img/logo.svg" alt="Logo del Café" class="logo">
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="#productos">PRODUCTOS</a></li>
                    <li><a href="#informacion">INFORMACIÓN</a></li>
                    <li class="search-container">
                        <input type="text" placeholder="¿Qué estás buscando?">
                        <button>BUSCAR</button>
                    </li>
                    <li class="cart-icon">
                        <a href="/productCart">
                            <img src="img/carrito.png" alt="Carrito de Compras">
                        </a>
                    </li>
                    <li class="login1">
                        <a href="/user/login">
                            <img src="img/login.png" alt="Login">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="contenedor-principal">
        <section class="banner">
            <img src="img/banner.png" alt="Banner">
        </section>
    
        <section class="texto"></section>
           
        <section class="articulo">
            <article>
                <div class="texto-articulo">
                    <h3>Título del Artículo</h3>
                    <p>LoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInput
                        LoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInput
                        LoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInput
                        LoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInput
                        LoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInput
                        LoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInput</p>
                </div>
                <div class="imagen-articulo">
                    <img src="img/cafe1.jpg" alt="Artículo">
                </div>
            </article>
        </section>
        <form action="/productDetail" method="get">
            <div class="contenedor-productos">
                <article class="producto">
                    <img src="img/imagen_producto.jpg" alt="Producto 1">
                    <h3>Producto 1</h3>
                    <p>Descripción corta del Producto 1.</p>
                    <button>COMPRAR</button>
                </article>
            
                <article class="producto">
                    <img src="img/imagen_producto.jpg" alt="Producto 2">
                    <h3>Producto 2</h3>
                    <p>Descripción corta del Producto 2.</p>
                    <button>COMPRAR</button>
                </article>
                <article class="producto">
                    <img src="img/imagen_producto.jpg" alt="Producto 3">
                    <h3>Producto 3</h3>
                    <p>Descripción corta del Producto 3.</p>
                    <button>COMPRAR</button>
                </article>
            
                <article class="producto">
                    <img src="img/imagen_producto.jpg" alt="Producto 4">
                    <h3>Producto 4</h3>
                    <p>Descripción corta del Producto 4.</p>
                    <button>COMPRAR</button>
                </article>
            
                <article class="producto">
                    <img src="img/imagen_producto.jpg" alt="Producto 5">
                    <h3>Producto 5</h3>
                    <p>Descripción corta del Producto 5.</p>
                    <button>COMPRAR</button>
                </article>
            
                <article class="producto">
                    <img src="img/imagen_producto.jpg" alt="Producto 6">
                    <h3>Producto 6</h3>
                    <p>Descripción corta del Producto 6.</p>
                    <button>COMPRAR</button>
                </article>
            </div>
        </form>
    </div>
    <footer>
        <div class="contenedor_footer">
            <div class="cajasFooter">
                <h4>MEDIOS DE PAGO</h4>
                <img class="tamañoImg1" src="img/uala.png" alt="Uala">
                <img class="tamañoImg1" src="img/mercadopago.png" alt="MercadoPago">
                <img class="tamañoImg1" src="img/mastercard.png" alt="MasterCard">
                <img class="tamañoImg1" src="img/visa.png" alt="Visa">
                <img class="tamañoImg1" src="img/maestro.png" alt="Maestro">
                <img class="tamañoImg1" src="img/naranja.png" alt="Naranja">
                <img class="tamañoImg1" src="img/pagofacil.png" alt="PagoFacil">
                <img class="tamañoImg1" src="img/rapipago.png" alt="RapiPago">
                <img class="tamañoImg1" src="img/deposito.png" alt="Deposito">
                <img class="tamañoImg1" src="img/efectivo.png" alt="Efectivo">
            </div>          
            <div class="cajasFooter">
                <h4>MEDIOS DE ENVÍO</h4>
                <img class="tamañoImg1" src="img/andreani.png" alt="Andreani">
                <img class="tamañoImg1" src="img/correo-argentino.png" alt="CorreoArgentino">
                <img class="tamañoImg1" src="img/personalizado.png" alt="Personalizado">
            </div>    
            <div class="cajasFooter">
                <h4>REDES SOCIALES</h4>
                <img class="tamañoImg2" src="img/facebook.png" alt="Facebook">
                <img class="tamañoImg2" src="img/instagram.png" alt="Instagram">
            </div>
            <div class="cajasFooter">
                <h4>CONTACTO</h4>
                <p>3825535033</p>
                <p>coffecode@gmail.com</p>                            
                <p>8 de diciembre, Capital, La Rioja</p>
            </div>
        </div>
    </footer>
</body>
</html>