<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    <title><%= datos.titulo %></title>
</head>
<body>
    <div class="frase">
        <h5>"TU ÉXITO Y TU FELICIDAD DEPENDEN DE TÍ</h5>
    </div>
    <header>
        <div class="header-content">
            <div>
                <img src="img/logo.svg" alt="Logo del Café" class="logo">
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a class="link-a" href="#productos">PRODUCTOS</a></li>
                    <li><a class="link-a" href="#informacion">INFORMACIÓN</a></li>
                    <li class="search-container">
                        <input type="text" placeholder="¿Qué estás buscando?">
                        <button>BUSCAR</button>
                    </li>
                    <li class="cart-icon">
                        <a href="/product/productCart">
                            <img src="img/carrito.png" alt="Carrito de Compras">
                        </a>
                    </li>
                    <li class="login1">
                        <a href="/user/login">
                            <img src="img/login.png" alt="Login">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="contenedor-principal">
        <section class="banner">
            <img src="img/banner.png" alt="Banner">
        </section>
    
        <section class="texto"></section>
           
        <section class="articulo">
            <article>
                <div class="texto-articulo">
                    <h3>Título del Artículo</h3>
                    <p>LoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInput
                        LoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInput
                        LoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInput
                        LoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInput
                        LoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInput
                        LoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInputLoremInput</p>
                </div>
                <div class="imagen-articulo">
                    <img src="img/cafe1.jpg" alt="Artículo">
                </div>
            </article>
        </section>
        <form action="/product/productDetail" method="get">
            <div class="contenedor-productos">
                <article class="producto">
                    <img src="img/imagen_producto.jpg" alt="Producto 1">
                    <h3>Producto 1</h3>
                    <p>Descripción corta del Producto 1.</p>
                    <button>COMPRAR</button>
                </article>
            
                <article class="producto">
                    <img src="img/imagen_producto.jpg" alt="Producto 2">
                    <h3>Producto 2</h3>
                    <p>Descripción corta del Producto 2.</p>
                    <button>COMPRAR</button>
                </article>
                <article class="producto">
                    <img src="img/imagen_producto.jpg" alt="Producto 3">
                    <h3>Producto 3</h3>
                    <p>Descripción corta del Producto 3.</p>
                    <button>COMPRAR</button>
                </article>
            
                <article class="producto">
                    <img src="img/imagen_producto.jpg" alt="Producto 4">
                    <h3>Producto 4</h3>
                    <p>Descripción corta del Producto 4.</p>
                    <button>COMPRAR</button>
                </article>
            
                <article class="producto">
                    <img src="img/imagen_producto.jpg" alt="Producto 5">
                    <h3>Producto 5</h3>
                    <p>Descripción corta del Producto 5.</p>
                    <button>COMPRAR</button>
                </article>
            
                <article class="producto">
                    <img src="img/imagen_producto.jpg" alt="Producto 6">
                    <h3>Producto 6</h3>
                    <p>Descripción corta del Producto 6.</p>
                    <button>COMPRAR</button>
                </article>
            </div>
        </form>
    </div>
   <%- include('./partials/footer.ejs') %>
</body>
</html>