<html>
<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/miscompras.css">
</head>
<body>
    <%- include('./partials/header.ejs',{carrito}) %>
   <main>
     <h1>HOLA</h1>
   </main>
   <%- include('./partials/footer.ejs') %>
   <script src="/js/coffecode.js"></script>

</body>
</html>