<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/recuperarClave.css">
    <title>COFFECODE</title>
</head>
<body>
    <h1>COFFECODE OLVIDASTE TU CONTRASEÑA</h1>
        <header>
            <div class="top-header">
                <div id="logo"> 
                    <img src="img/logo.svg" alt="Logo del Café" class="logo">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">INICIAR SESION</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="/olvidasteTuContraseña"> <i class="fas fa-sign-in-alt"></i></a></li>
                </ul>
            </nav>
        </header>
        <main class="cambiar contraseña">
            <form action="/" method="POST">
                <input type="text" name="email" placeholder="email">
                <input type="submit" value="Enviar">
            </form>
        </main>
</body>
</html>