<footer>
    <div class="contenedor_footer">
        <div class="cajasFooter">
            <h4>MEDIOS DE PAGO</h4>
            <img class="tamanoImg1" src="/img/uala.png" alt="Uala">
            <img class="tamanoImg1" src="/img/mercadopago.png" alt="MercadoPago">
            <img class="tamanoImg1" src="/img/mastercard.png" alt="MasterCard">
            <img class="tamanoImg1" src="/img/visa.png" alt="Visa">
            <img class="tamanoImg1" src="/img/maestro.png" alt="Maestro">
            <img class="tamanoImg1" src="/img/naranja.png" alt="Naranja">
            <img class="tamanoImg1" src="/img/pagofacil.png" alt="PagoFacil">
            <img class="tamanoImg1" src="/img/rapipago.png" alt="RapiPago">
            <img class="tamanoImg1" src="/img/deposito.png" alt="Deposito">
            <img class="tamanoImg1" src="/img/efectivo.png" alt="Efectivo">
        </div>          
        <div class="cajasFooter">
            <h4>MEDIOS DE ENVÍO</h4>
            <img class="tamanoImg1" src="/img/andreani.png" alt="Andreani">
            <img class="tamanoImg1" src="/img/correo-argentino.png" alt="CorreoArgentino">
            <img class="tamanoImg1" src="/img/personalizado.png" alt="Personalizado">
        </div>    
        <div class="cajasFooter">
            <h4>REDES SOCIALES</h4>
            <img class="tamanoImg2" src="/img/facebook.png" alt="Facebook">
            <img class="tamanoImg2" src="/img/instagram.png" alt="Instagram">
        </div>
        <div class="cajasFooter">
            <h4>CONTACTO</h4>
            <p>(+54)-3825535033</p>
            <p>coffecode@gmail.com</p>                            
            <p>8 de diciembre, Capital, La Rioja</p>
        </div>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</footer>