<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/registerProduct.css">
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <main>      
        <div class="container">
            <% if(msg!=""){%>
                <h1 style="background-color: chartreuse;">  <%= msg %> </h1>
               <% } %>
        <h1>Agregar Nuevo Producto</h1>
        <form action="/admin/create" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="productName">Nombre del Producto:</label>
                <input type="text" id="productName" name="productName" required>
            </div>
            <div class="form-group">
                <label for="productFabricado">Fabricado en</label>
                <input type="text" id="productFabricado" name="productFabricado" value="" required>
            </div>
            <div class="form-group">
                <label for="productDescription">Descripción del Producto:</label>
                <textarea id="productDescription" name="productDescription" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="productPrice">Precio (1 Kg)</label>
                <div style="display: flex;align-items: center; background-color: white; ">
                     $<input type="number" id="productPrice" name="productPrice" step="0.01" value="" required style="border: none;" >
                </div>
            </div>
            <div class="form-group">
                <label for="productPrice250">Precio (250g)</label>
                <div style="display: flex;align-items: center; background-color: white; ">
                     $<input type="number" id="productPrice250" name="productPrice250" step="0.01" value="" required style="border: none;" >
                </div>
            </div>
            <div class="form-group">
                <label for="productImage">Imagen del Producto:</label>
                <input type="file" id="productImage" name="productImage" accept="image/*">
            </div>
            <div class="form-group">
                <label for="productor">Productor</label>
                <input type="text" id="productor" name="productor" value="" required>
            </div>
            <div class="form-group">
                <label for="pais">Pais</label>
                <input type="text" name="pais" id="pais" value=""> 
            </div>
            <div class="form-group">
                <label for="region">Región</label>
                <input type="text" id="region" name="region" value="" required>
            </div>
            <div class="form-group">
                <label for="altitud">Altitud</label>
                <input type="text" id="altitud" name="altitud" value="" required>
            </div>
            <div class="form-group">
                <label for="procesamiento">Procesamiento Natural</label>
                <input type="text" id="procesamiento" name="procesamiento" value="" required>
            </div>
            <div class="form-group">
                <label for="procesamiento2">Procesamiento Lavado</label>
                <input type="text" id="procesamiento2" name="procesamiento2" value="" required>
            </div>
            <button type="submit" class="btn">Agregar Producto</button>
        </form>
    </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/coffecode.js"></script>

</body>
</html>
