<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <img class="error404" src="/img/errors/error404.png" />
    <div class="volver">
        <a href="/" style="font-family: Zain, sans-serif; font-weight: bold;"> VOLVER A LA PÁGINA PRINCIPAL </a>
    </div>
</body>
</html>