<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <img class="error404" src="/img/errors/error404.png" />
    <div class="volver">
        <a href="/">Home</a>
    </div>
</body>
</html>