<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <%- include('../partials/header.ejs')%>
    
    <main class="login">
        <h1 style="background-color: chartreuse; text-align: center;"><% if(msg!=""){%>
            <%= msg %> 
         <% } %></h1>
        <div class="navbar-item1">
            <ol class= "navbar">
            <li class="navbar-item"> <a href='/'> Incio</a></li>
            <li class="navbar-item"> <a href="#"> Mi Cuenta</a></li>
            <li class="navbar-item"> <a href="#"> Login</a></li>
            </ol>
    </div>

     <h2>INICIAR SESION</h2>
       
        <form class="estilo-form" action="/user/login" method="post">
            <div class="bloque">
            <label  for="email">E-mail</label>
                <br>
            <input type="text" name="email" placeholder="email" required>
            </div>
            <div class="bloque">
            <label class="estilo-label" for="clave"> Contraseña</label>
               <br>
                <input type="password" name="clave" id="pass1" placeholder="Elige tu contraseña" required>
            </div>
            <a href="/user/clave">¿Olvidaste tu contraseña?</a> 
            <button type="submit" class="boton">INICIAR SESIÓN</button>
            <p>¿No tenes una cuenta aun?</p>  <a href="/user/register">Registrate aquí</a>
        </form>
    </main>
    
    <%- include('../partials/footer.ejs') %>
    <script src="/js/coffecode.js"></script>

    </body>
</html>