<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
 
    <header>
        <div class="header-content">
            <div>
                <img src="/img/logo.svg" alt="Logo del Café" class="logo" onclick="location.href='/'">
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a class="link-a" href="#productos">PRODUCTOS</a></li>
                    <li><a class="link-a" href="#informacion">INFORMACIÓN</a></li>
                    <li class="search-container">
                        <input type="text" placeholder="¿Qué estás buscando?">
                        <button>BUSCAR</button>
                    </li>
                    <li class="cart-icon">
                        <a href="/product/productCart">
                            <img src="/img/carrito.png" alt="Carrito de Compras">
                        </a>
                    </li>
                    <li class="login1">
                        <a href="/user/login">
                            <img src="/img/login.png" alt="Login">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="login">
        <div class="navbar-item1">
            <ol class= "navbar">
            <li class="navbar-item"> <a href='/'> Incio</a></li>
            <li class="navbar-item"> <a href="#"> Mi Cuenta</a></li>
            <li class="navbar-item"> <a href="#"> Login</a></li>
            </ol>
    </div>

     <p>INICIAR SESION</p>
        <form class="estilo-form" action="/" method="get">
            <div class="bloque">
            <label  for="email"></label>
                E-mail<br>
            <input type="text" name="email" placeholder="email" required>
            </div>
            <div class="bloque">
            <label class="estilo-label" for="contraseña"></label>
                Contraseña<br>
                <input type="password" name="contraseña" id="pass1" placeholder="Elige tu contraseña" required>
            </div>
            <a href="/user/recuperarClave">¿Olvidaste tu contraseña?</a> 
            <button class="boton">INICIAR SESION</button>
            <p>¿No tenes una cuenta aun?</p>  <a href="/user/register">Registrate aquí</a>
        </form>
    </main>
    
    <%- include('../partials/footer.ejs') %>
    </body>
</html>