<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/recuperarClave.css">
</head>
<body>
    <header>
        <div class="header-content">
            <div>
                <img src="/img/logo.svg" alt="Logo del Café" class="logo">
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a class="link-a" href="#productos">PRODUCTOS</a></li>
                    <li><a class="link-a" href="#informacion">INFORMACIÓN</a></li>
                    <li class="search-container">
                        <input type="text" placeholder="¿Qué estás buscando?">
                        <button>BUSCAR</button>
                    </li>
                    <li class="cart-icon">
                        <a href="/product/productCart">
                            <img src="/img/carrito.png" alt="Carrito de Compras">
                        </a>
                    </li>
                    <li class="login1">
                        <a href="/user/login">
                            <img src="/img/login.png" alt="Login">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
            <div class="navbar-item1">
                <ol class= "navbar">
                <li class="navbar-item"> <a href='/'> Incio</a></li>
                <li class="navbar-item"> <a href="#"> Mi Cuenta</a></li>
                <li class="navbar-item"> <a href="#"> Cambiar contraseña</a></li>
                </ol>
          </div>
        <h2>CAMBIAR CONTRASEÑA</h2>
            <form action="/" method="get" class="estilo-form">
                <div class="bloque">
                <label for="email">RECUPERA TU CONTRASEÑA<br></label>
                <input type="text" name="email" placeholder="ingresa tu email" required><br>
                </div>
                <button class="boton" type="submit" value="Enviar">Enviar email</button>
            </form>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>