<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <%- include('../partials/header.ejs')%>
       
    <main>
        <h1 style="background-color: chartreuse; text-align: center;"><% if(msg!=""){%>
            <%= msg %> 
         <% } %></h1>
        <h2> CREA TU CUENTA</h2>
        
        <form action="/user/register" method="post" class="estilo-form" id="registro" autocomplete="off" novalidate="novalidate">
            <div class="bloque">
                <label class="estilo-label" for="apellido">Apellido<br></label>
                <input type="text" name="apellido" placeholder="Apellido" minlength="3" maxlength="40" id="apellido">
                <div class="error-message" id="apellidoError"></div>
            </div>
            <div class="bloque">
                <label class="estilo-label" for="nombre">Nombre<br></label>
                <input type="text" name="nombre" placeholder="Nombre" minlength="3" maxlength="40" id="nombre">
                <div class="error-message" id="nombreError"></div>
            </div>
            <div class="bloque">
                <label class="estilo-label" for="telefono">Teléfono (opcional)<br></label>
                <input type="tel" name="telefono" id="telefono" placeholder="Teléfono" minlength="6" maxlength="20">
                <div class="error-message" id="telefonoError"></div>
            </div>
            <div class="bloque">
                <label class="estilo-label" for="email">E-mail<br></label>
                <input type="email" name="email" placeholder="E-mail" id="email">
                <div class="error-message" id="emailError"></div>
            </div>
            <div class="bloque">
                <label class="estilo-label" for="contraseña">Contraseña<br></label>
                <input type="password" name="clave" id="pass1" placeholder="Elige tu contraseña">
                <div class="error-message" id="pass1Error"></div>
            </div>
            <div class="bloque">
                <label class="estilo-label" for="contraseña">Repita la Contraseña<br></label>
                <input type="password" name="clave2" id="pass2" placeholder="Elige tu contraseña">
                <div class="error-message" id="pass2Error"></div>
            </div>
            <button class="boton" type="submit" name="btnRegistrar" id="btnRegistrar">CREAR CUENTA</button>
        </form>
        
        <p>¿Ya tienes una cuenta?<a href="/user/login">Inicia sesión</a></p>
        

    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
    <script src="/js/registerValidate.js"></script>
    <script src="/js/coffecode.js"></script>
    

</body>
</html>